<section class="font-bebas">
  <img src="../../assets/Logo.png" alt="logo" class="w-5/6 mt-[30vh] mx-auto" />
  <p class="text-4xl text-white text-center mt-32">Who is playing first?</p>
  <div class="flex justify-center gap-12 mt-8">
    <a
      routerLink="/play"
      class="bg-white rounded-xl shadow-2xl px-12 py-2"
      (click)="selectPlayer(1)"
      ><img src="../../assets/x.png" alt="x" class="h-20"
    /></a>
    <a
      class="bg-white rounded-xl shadow-2xl px-12 py-2"
      routerLink="/play"
      (click)="selectPlayer(-1)"
      ><img src="../../assets/o.png" alt="o" class="h-20"
    /></a>
  </div>
</section>
